.section {
  -webkit-transform: rotate(5deg) translate3d(0, 0, 0);
  background: #313131;
  margin-left: -25%;
  padding: 0 25%;
  position: relative;
  transform: rotate(5deg) translate3d(0, 0, 0);
  width: 150%;
}

.section .inner {
  -webkit-transform: rotate(-5deg) translate3d(0, 0, 0);
  color: #fff;
  margin: 0 auto;
  max-width: 100%;
  padding: 18px 30px 78px;
  transform: rotate(-5deg) translate3d(0, 0, 0);
  width: 820px;
}

#section1 {
  background: #1a237e;
}





.section1,
.section2{
  /*レイアウト用のCSS*/
  padding: 50px;
}
.section1{
  position: relative;

  /*レイアウト用のCSS*/
  background-color: pink;
}
.section2{
  background-color: brown;
}
.section1::before{
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;

  /*ここで三角形のサイズを決める。
  必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 0 0 100px 100vw ;

  border-color: transparent transparent #fff transparent;
}









.section3,
.section4{
  padding: 50px 30px;
}

.section3 {
  background:pink;
}
.section4 {
  position: relative;
  z-index: 0;
  background: gray;
}
.section4::after{
  content: '';
  position: absolute;
  left:0;
  top: 0;

  /*四角形を傾けます*/
  transform: skewY(-5deg);
  transform-origin: bottom left;

  z-index: -1;
  width:100%;
  height:100%;
  background:#fff;
}
